// fonts
$common-family: 'Open Sans', sans-serif;

// colors

$color-black: rgb(0, 0, 0);
$color-dark-gray-with-opacity: rgba(0, 0, 0, 0.4);
$color-deep-gray: rgb(158, 169, 178);
$color-white: rgb(255, 255, 255);
$color-light-gray: rgb(211, 211, 211);
$color-light-blue: rgb(72, 113, 247);

// weight

$font-bold: 700;
$font-medium: 500;
$font-light: 300;