@import '@assets/scss/variables.scss';

.container {
  padding: 5px 10px;
  background-color: $color-deep-gray;
  color: $color-white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out opacity;

  &:hover {
    opacity: 0.8;
  }
}