@import '@assets/scss/variables.scss';

.container {}

.header {
  display: flex;
  align-items: center;
  gap: 2rem;

  a {
    text-decoration: none;
    transition: 0.3s ease-in-out all;

    &:visited {
      color: $color-black;
    }
  }
}

.header a:hover {
  color: $color-light-blue;
}

header .activeRoute a {
  color: $color-light-blue;
}